<div
    hx-get="/components/music/playing"
    hx-trigger="load delay:2s"
    hx-swap="outerHTML"
>
    <div>
        <div class="w-full">
            <div class="flex w-full h-72 ">
                {% if current_music and current_music.thumbnail %}
                <img
                    src="{{ current_music.thumbnail }}"
                    alt="Album cover"
                    class="h-full w-full object-cover brightness-[0.9] contrast-[1.1] grayscale-[70%]"
                />
                {% else %}
                <div
                    class="flex h-full w-full items-center justify-center bg-[rgba(12,12,14,0.8)]"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="48"
                        height="48"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="text-(--primary)"
                    >
                        <path d="M9 18V5l12-2v13" />
                        <circle cx="6" cy="18" r="3" />
                        <circle cx="18" cy="16" r="3" />
                    </svg>
                </div>
                {% endif %}
            </div>
            <div class="flex border-2 justify-center items-center gap-4 p-4">
                <div class="flex w-full flex-col">
                    <div>
                        <h2
                            class="truncate text-center font-bold tracking-wider text-(--primary) sm:text-left sm:text-base md:text-lg"
                        >
                            {% if current_music %} {{ current_music.title }} -
                            {{ current_music.album }} {% else %} Nothing playing
                            {% endif %}
                        </h2>
                        <p
                            class="truncate text-center text-xs text-(--secondary) sm:text-left sm:text-sm"
                        >
                            {% if current_music and current_music.artists %} {{
                            current_music.artists | join(', ') }} {% else %}
                            Unknown Artist {% endif %}
                        </p>
                    </div>
                    <div class="w-full space-y-2">
                        <div class="w-full">
                            <div
                                class="w-full border-2 border-primary h-8 mb-4 content-center justify-center"
                            >
                                <div
                                    class="bg-primary h-2 m-2"
                                    style="width: {{100*(progress if current_music else 0)/(current_music.duration if current_music else 100)}}%"
                                ></div>
                            </div>
                        </div>
                        <div
                            class="flex justify-between text-xs text-(--secondary)"
                        >
                            <span>
                                {% if progress and current_music %} {{ (progress // 60) }}:{{
                                '{:02d}'.format(progress % 60) }} {% else %}
                                0:00 {% endif %}
                            </span>
                            <span>
                                {% if current_music.duration %} {{
                                (current_music.duration // 60) }}:{{
                                '{:02d}'.format(current_music.duration % 60) }}
                                {% else %} 0:00 {% endif %}
                            </span>
                        </div>
                    </div>
                    <div
                        class="music-controls mt-2 flex justify-center space-x-2 sm:mt-4 sm:space-x-3"
                    >
                        <button
                            class="h-8 w-8 rounded-md border border-input bg-transparent shadow-sm hover:bg-accent hover:text-accent-foreground sm:h-9 sm:w-9"
                            hx-post="/music/stop"
                            hx-target="body"
                        >
                            {% include 'icons/stop.html' %}
                        </button>
                        <button
                            class="h-8 w-8 rounded-md bg-transparent text-primary-foreground shadow border hover:bg-primary/40 sm:h-9 sm:w-9"
                            hx-post="/music/toggle"
                            hx-target="body"
                        >
                            {% if playing %}
                                {% include 'icons/pause.html' %}
                            {% else %}
                                {% include 'icons/play.html' %}
                            {% endif %}
                        </button>
                        <button
                            class="h-8 w-8 rounded-md border border-input bg-transparent shadow-sm hover:bg-accent hover:text-accent-foreground sm:h-9 sm:w-9"
                            hx-post="/music/skip"
                            hx-target="body"
                        >
                            {% include 'icons/skip.html' %}
                        </button>
                        <button
                            class="h-8 w-8 rounded-md border border-input bg-transparent shadow-sm hover:bg-accent hover:text-accent-foreground sm:h-9 sm:w-9 {% if loop_mode == 'song' or loop_mode == 'queue' %}border-background bg-[rgba(197,199,180,0.95)] text-background hover:text-[rgba(197,199,180,0.95)]/50{% endif %}"
                            hx-post="/music/loop"
                            hx-target="body"
                        >
                            {% if loop_mode == 'song' %}
                                {% include 'icons/repeat-once.html' %}
                            {% else %}
                                {% include 'icons/repeat.html' %}
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
