<nav class="border-primary text-primary w-full border-2">
    <div class="flex">
        <div class="flex flex-col w-full">
            <div class="flex items-center w-full justify-between mx-auto p-2">
                <a
                    href="https://harpi.smileydroid.com.br/"
                    class="flex items-center space-x-3 rtl:space-x-reverse"
                >
                    <img
                        src="/static/smileybot.png"
                        class="h-8 brightness-[0.9] contrast-[1.2] grayscale-[50%]"
                        alt="Harpi Logo"
                    />
                    <span
                        class="self-center text-xl font-semibold whitespace-nowrap drop-shadow-[0_0_5px_rgba(0,0,0,1.0)] drop-shadow-primary/30"
                        >Harpi Control Center</span
                    >
                </a>
                <div
                    class="hidden w-full md:block md:w-auto drop-shadow-[0_0_5px_rgba(0,0,0,1.0)] drop-shadow-primary/30"
                    id="navbar-default"
                >
                    <ul
                        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-primary md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0"
                    >
                        <li>
                            <a href="/" class="block py-2 px-3">Início</a>
                        </li>
                        <li>
                            <a href="about" class="block py-2 px-3">Sobre</a>
                        </li>
                        <li>
                            <a href="music" class="block py-2 px-3">Música</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-3">Canvas</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex items-center w-full justify-between mx-auto p-2">
                {% include 'components/bot_status.html' %}
                <div
                    id="current-guild-display"
                    hx-get="/components/current_guild"
                    hx-trigger="load, guild-selected from:body"
                >
                    <span class="animate-pulse text-sm">...</span>
                </div>

            </div>
        </div>
    </div>
</nav>
