<div class="flex items-center text-sm h-8">
    {% if guild %}
        <div class="border-2 border-primary px-2 py-1">
            <span class="text-primary">Guilda: </span>
            <span class="font-semibold">{{ guild.name }}</span>
            <span class="text-xs opacity-70">({{ guild.id }})</span>
        </div>
    {% else %}
        <div class="border border-primary/50 px-2 py-1">
            <span class="text-primary/50">Nenhuma guilda selecionada</span>
        </div>
    {% endif %}
</div>
