<ul id="guild-list">
    {% for guild in guilds %}
    {% if session.get("guild_id") == guild.id %}
    <li
        class="m-2 p-2 border-2 border-primary bg-primary text-background"
    >
        {{ guild.name }}
    </li>
    {% else %}
    <li
        class="m-2 p-2 border-2 border-primary hover:bg-primary hover:text-background transition-all hover:scale-101"
        hx-trigger="click"
        hx-target="#guild-list"
        hx-get="/select/guild/{{guild.id}}"
    >
        {{ guild.name }}
    </li>
    {% endif %}
    {% endfor %}
</ul>
