<div
    hx-get="/components/serverstatus"
    hx-trigger="load delay:4s"
    hx-swap="outerHTML"
>
    {% if mem %}
        <div class="mb-1 text-base font-medium">CPU: {{cpu_percent}}%</div>
        <div class="w-full border-2 border-primary h-8 mb-4 content-center justify-center">
        <div class="bg-primary h-2 m-2" style="width: {{cpu_percent}}%"></div>
        </div>
        <div class="mb-1 text-base font-medium">RAM: {{mem.percent}}%</div>
        <div class="w-full border-2 border-primary h-8 mb-4 content-center justify-center">
            <div class="bg-primary h-2 m-2" style="width: {{mem.percent}}%"></div>
        </div>
    {% else %}
        <span class="animate-pulse">Unknown...</span>
    {% endif %}
    <!-- svmem(total=10367352832, available=6472179712, percent=37.6, used=8186245120, free=2181107712, active=4748992512, inactive=2758115328, buffers=790724608, cached=3500347392, shared=787554304, slab=199348224) --->
</div>
